.searchbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchResult {
  background: #f1f8fc;
  border-radius: 5px;
  text-align: center;
}
.searchResult li:hover {
  background: #0001;
  border-radius: 15px;
  /* margin: 10px; */
}
