.mainservice {
  /* background: #00bcbd; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* gap: inherit; */
  padding: 25px;
  /* width: 100%; */
}
.first {
  /* align-items: center; */
  /* margin: auto; */
  padding: 40px;
  color: white;
}
.iconblock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: auto;
  padding: 20px;
}

.icon {
  background: white;
  color: #00bcbd;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.icon:hover .png {
  /* color: #f84d4f; */
  filter: invert(33%) sepia(70%) saturate(1701%) hue-rotate(331deg)
    brightness(116%) contrast(110%);
  transition: all 0.7s;
}
.icon:hover .iconsub {
  color: #f84d4f;
  transition: all 0.7s;
}
.png {
  width: 13rem;
  height: fit-content;
  padding: 50px;
  filter: invert(52%) sepia(84%) saturate(1435%) hue-rotate(140deg)
    brightness(93%) contrast(100%);
}
.iconsub {
  color: #00bcbd;
  font-size: 25px;
  font-weight: bold;
}
.btn {
  background-color: #00bcbd;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  background: linear-gradient(to left, #f84d4f 50%, #fff 50%) right;
  background-size: 210%;
  transition: 0.6s ease-out;
}
.btn:hover {
  background-position: left;
  color: #00bcbd;
}

@media (max-width: 1200px) {
  .mainservice {
    grid-template-columns: auto;
  }
  .iconblock {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .iconblock {
    grid-template-columns: 1fr;
  }
}
