.header {
  color: #fff;
  align-items: center;
  width: 100%;
}
.header .active {
  color: #214e66;
}
.flex {
  display: flex;
}
.logo {
  background: #fff;
  /* padding-inline: 20px; */
}
.logoimg {
  padding: 10px;
}
ul {
  list-style: none;
  text-decoration: none;
}
.mainnav {
  justify-content: space-between;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 5fr 3fr 1fr; */
  align-items: center;
  width: 100%;
  background: #00bcbd;
}
li {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.rightnav {
  margin-left: auto;
}
.nav_right {
  display: flex;
}
.subdivnav {
  margin-inline: auto;
  width: max-content;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
.nav_logout {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* margin-block-start: auto; */
  /* margin-block-end: 5px; */
  margin-block: 10px;
  margin-inline: 10px;
}
.nav_logout button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
  background: #214e66;
  cursor: pointer;
  transition: ease-out 0.4s;
}
.nav_logout svg {
  border-radius: 50%;
  margin: 0px;
  background: #214e66;
  /* width: 100%; */
  /* height: 100%; */
}
.nav_logout a {
  border: none;
  border-radius: 5px;
  font-size: 2.5rem;
  /* border-radius: 50%; */
  color: #fff;
  cursor: pointer;
}
.nav_logout button:hover {
  background: #f84d4f;
  /* color: #fff; */
}
a:hover {
  color: black;
}
.toggle {
  color: #fff;
  cursor: pointer;
  display: none;
}
.logo a {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .flex {
    flex-direction: column;
  }
  .logo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #00bcbd;
  }
  .toggle {
    display: block;

    /* position: absolute; */
  }
  .mainnav.false,
  .remove {
    display: none;
  }
  .mainnav {
    position: absolute;
    grid-template-columns: auto;
    z-index: 10000;
    top: 3.7rem;
  }
  .nav_right {
    flex-direction: column;
  }
}
