.header {
  color: #fff;
  align-items: center;
  width: 100%;
}
.header .active {
  color: #214e66;
}
.flex {
  display: flex;
}
.logo {
  background: #fff;
  /* padding-inline: 20px; */
}
.logoimg {
  padding: 10px;
}
ul {
  list-style: none;
  text-decoration: none;
}
.mainnav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  background: #00bcbd;
}
li {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.rightnav {
  margin-left: auto;
}
.subdivnav {
  margin-left: auto;
  width: max-content;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
a:hover {
  color: black;
}
.toggle {
  color: #fff;
  cursor: pointer;
  display: none;
}
.logo a {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .flex {
    flex-direction: column;
  }
  .logo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #00bcbd;
  }
  .toggle {
    display: block;

    /* position: absolute; */
  }
  .mainnav.false,
  .remove {
    display: none;
  }
  .mainnav {
    position: absolute;
    z-index: 10000;
    top: 3.7rem;
  }
}
