.loginform {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.login {
  background: #0ff;
  width: 80%;
  box-shadow: 0 0 10px 10px #0006;
  height: 70%;
  border-radius: 10px;
  margin-inline: auto;
  padding-bottom: 5%;
}
.loginform > label {
  font-size: 20px;
}
.loginform > input {
  padding: 1%;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
.login button {
  padding: 15px;
  display: block;
  width: max-content;
  margin-block: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  /* background: radial-gradient(#ef3, #f00); */
  background: linear-gradient(to left, #f84d4f 50%, #fff 50%) right;
  background-size: 210%;
  transition: 0.6s ease-out;
}
.login button:hover {
  background-position: left;
  color: #00bcbd;
}
