@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "oswald", san-serif;
}
h1,
h2 {
  font-family: "oswald", san-serif;
  font-weight: bold;
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}
p {
  font-family: "Open sans", san-serif;
}
.block {
  width: min(90%, 1250px);
  margin: 50px auto;
}
.search > form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  padding: 20px;
}
.search ::placeholder {
  color: #0000003f;
}
img {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
